@model Garage2._0.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this vehicle?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsParked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsParked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrival)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <br />
    <a asp-action="Overview">Back to Overview</a>
</div>
