@model OverviewListViewModel

@{
    ViewData["Title"] = "Overview";
    Layout = "_LayoutOverview";
}
<link rel="canonical" href="https://getbootstrap.com/docs/4.6/components/buttons/">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1>Garage Overview</h1>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-5 pt-3">
            <form asp-action="Filter" class="input-group ml-1">
                <div class="input-group-append w-25">
                    <input type="text" class="form-control form-control-sm" name="Regnumber" style="text-transform:uppercase;" placeholder="Regnumber..." />
                </div>
                <div class="input-group-append w-50">
                    <select name="Types" asp-items="@Model.VehicleTypesSelectList" class="form-control form-control-sm">
                        <option selected="selected" value="">Please select type</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 pt-3">
            <form asp-action="ParkingStatus" asp-controller="Vehicles" method="post">
                <div class="btn-group btn-group-sm btn-group-toggle" id="checkboxes" data-toggle="buttons">

                    @Model.RadioButtons

                    @*@for(var i = 0; i < Model.RadioButtons.Count(); i++)
        {

            @if (Model.RadioButtons[i].IsDisabled)
            { *@
                    @if (Model.ParkedStatus)
                    {
                        <label class="btn btn-secondary active">
                            <input type="radio" value="" id='' asp-for='@Model.SelectedRadio' enabled>Parked
                        </label>

                        <label class="btn btn-secondary ">
                            <input type="radio" value="" id='' asp-for='@Model.SelectedRadio' disabled>Unparked
                        </label>

                        <label class="btn btn-secondary ">
                            <input type="radio" id='AllStatus' enabled>Allparked
                        </label>
                    }
                    

                    @*}
        else
        {*@

                    @*}
        }*@

                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th> <a asp-action="Overview" asp-route-sortingVehicle="@ViewData["VehicleTypeSorting"]">@Html.DisplayNameFor(model => model.Overview.First().VehicleType)</a> </th>
                <th> <a asp-action="Overview" asp-route-sortingVehicle="@ViewData["RegistrationNumberSorting"]">@Html.DisplayNameFor(model => model.Overview.First().VehicleRegistrationNumber)</a> </th>
                <th> <a asp-action="Overview" asp-route-sortingVehicle="@ViewData["ArrivalTimeSorting"]">@Html.DisplayNameFor(model => model.Overview.First().VehicleArrivalTime)</a> </th>
                <th> <a asp-action="Overview" asp-route-sortingVehicle="@ViewData["ArrivalTimeSorting"]">@Html.DisplayNameFor(model => model.Overview.First().VehicleParkDuration)</a> </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Overview)
            {
                if (item.VehicleParked)
                {
                    <tr>
                        <td>  @Html.DisplayFor(modelItem => item.VehicleType)  </td>
                        <td>  @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)  </td>
                        <td>  @Html.DisplayFor(modelItem => item.VehicleArrivalTime)  </td>
                        <td>  @Html.DisplayFor(modelItem => item.VehicleParkDuration) </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                            <a asp-action="Change" asp-route-id="@item.VehicleId">Change</a> |
                            <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    @if (Model.Overview.Count() < 1)
    {
        <p class="text-danger text-center">There is no parked vehicles with this search information!</p>
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@section scripts
{
    <script type="text/javascript">
        (function () {

            $('input:radio[name=options]').change(function () {
                if ($(this).val() == 'true') {
                    $(this).attr('checked', true);
                 /*   $('input:radio[name=options]').attr('checked', true);*/
                } else {
                    // hide div
                }

    });
        });

        function buttonValue(e) {
            alert(e.value);
            if (e.value === 'true') {
                $('input:radio[name=options]').attr('checked', true);
            } else {
               alert('it is false');
            }
        }
    </script>

}

