@model IEnumerable<OverviewViewModel>

@{
    ViewData["Title"] = "Overview";
}
<h1>Garage Overview</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.VehicleType)</th>
            <th>@Html.DisplayNameFor(model => model.VehicleRegistrationNumber)</th>
            <th>@Html.DisplayNameFor(model => model.VehicleArrivalTime)</th>
            <th>@Html.DisplayNameFor(model => model.VehicleParkDuration)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleParkDuration)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
