@model Garage2._0.Models.ViewModels.UnParkResponseViewModel

@{
    ViewData["Title"] = "UnParkResponse";
}

<h1>You have now unparked your vehicle successfully! </h1>
<p>Your @Model.VehicleType with regnr @Model.VehicleRegistrationNumber left the garage at @Model.VehicleDepartureTime</p>
<p>Do you want a receipt?</p>
<div class="row">
    <div class="p-1">
        <a class="btn btn-primary" asp-controller="Vehicles" asp-action="Receipt" asp-route-id="@Model.Id" asp-route-departureTime="@Model.VehicleDepartureTime">Yes I want a receipt</a>
    </div>
    <div class="p-1">
        <a class="btn btn-primary" asp-controller="Vehicles" asp-action="Index">No receipt, back to Index page</a>
    </div>
</div>

